.Intro-header {
  background-color: #222;
  height: 60px;
  padding: 20px;
  color: white;
}

.Intro-title {
  font-size: 1.5em;
}

.Intro-intro {
  font-size: large;
  line-height: 24px;
  text-align: left;
  padding: 0 5%;
}

.Intro-button {
  background-color: green;
  color: white;
  font-size: 36px;
  width: 120px;
  height: 60px;
  line-height: 60px;
  margin: 0 auto;
  border-radius: 4px;
  cursor: pointer;
}
